{% extends 'base.html' %}

{% block title %}Compliment Page{% endblock %}

{% block content %}

<p>Hi {{ player }}! I think you're {{ compliment }}!
Would you like to play a game?</p>
    <form action="/game" class="input-form">
      <input type = "radio" id ="yes" name = "RadioSelection" value="yes"> 
      <label for = "yes">Yes</label><br>
      <input type = "radio" id= "no" name = "RadioSelection" value = "no">
      <label for = "no">No</label><br>
      <input type="submit">
    </form>

{% endblock %}